.startMenu {
    z-index: 10;
    position: absolute;
    bottom: 40px;
    box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.2);
    width: 700px;
    height: 640px;
    max-height: 100%;
    max-width: 100%;
    background-color: var(--startMenu);
    border-radius: var(--objectRadi);
    overflow: hidden;
    opacity: 0;
    transition: opacity .2s, transform .3s, width .2s;
    color: var(--font2);
}

::placeholder {
    color: var(--font2);
    opacity: .4;
}

.smBottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 83%;
    color: var(--font2);
    overflow-y: scroll;
    overflow-x: hidden;
}

.smbSection {
    width: 100%;
}

.smbSect1 {
    display: flex;
    height: 80px;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.ss1Lbl {
    font: 100 16px Segb;
}

.smbSect2 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: left;
    align-content: flex-start;
    gap: 7px;
    height: 300px;
    vertical-align: top;
    overflow: hidden;
    transition: height .3s;
}

.ss2Icon {
    position: relative;
    width: 17.4%;
    height: 90px;
    border-radius: var(--buttonRadi);
    display: inline-flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: 48px;
    background-position: 50% 10px;
    transition: background-color .1s, background-size .2s;
    cursor: pointer;
}

.ss2Icon:active {
    background-size: 40px;
}

.ss2Icon:hover,
.recTile:hover {
    background-color: var(--icn-hov);
}

.ss2Icon::after {
    position: absolute;
    bottom: 5px;
    content: attr(data-label);
    font: 400 14px Segsb;
    width: max-content;
}

#ss2Icon{
    opacity: .4;
}

#ss2Icon:hover,
#ss2Icon:focus {
    background-color: transparent;
    background-size: 48px;
    cursor: not-allowed;
}

.ss2Icon1 {
    background-image: url(../img/Icons/MicrosoftEdge.png);
}

.ss2Icon2 {
    background-image: url(../img/Icons/Mail.png);
}

.ss2Icon3 {
    background-image: url(../img/Icons/Calendar.png);
}

.ss2Icon4 {
    background-image: url(../img/Icons/OneNote.png);
}

.ss2Icon5 {
    background-image: url(../img/Icons/MicrosoftPhotos.png);
}

.ss2Icon6 {
    background-image: url(../img/Icons/MicrosoftToDo.png);
}

.ss2Icon7 {
    background-image: url(../img/Icons/WindowsVoiceRecorder.png);
}

.ss2Icon8 {
    background-image: var(--storeIcon);
}

.ss2Icon9 {
    background-image: url(../img/Icons/MicrosoftNews.png);
}

.ss2Icon10 {
    background-image: url(../img/Icons/WindowsFileExplorer.png);
}

.ss2Icon11 {
    background-image: var(--stickiesIcon);
}

.ss2Icon12 {
    background-image: url(../img/Icons/WindowsMaps.png);
}

.ss2Icon13 {
    background-image: url(../img/Icons/WindowsSettings.png);
}

.ss2Icon14 {
    background-image: url(../img/Icons/MSNWeather.png);
}

.ss2Icon15 {
    background-image: url(../img/Icons/WindowsCalculator.png);
}

.ss2Icon16 {
    background-image: url(../img/Icons/WinFR.png);
}

.ss2Icon17 {
    background-image: url(../img/Icons/MicrosoftRemoteDesktop.png);
}

.ss2Icon18 {
    background-image: url(../img/Icons/MicrosoftTeams.png);
}

.ss2Icon19 {
    background-image: url(../img/Icons/WindowsAlarmsAndClock.png);
}

.ss2Icon20 {
    background-image: url(../img/Icons/MoviesAndTV.png);
}

.ss2Icon21 {
    background-image: url(../img/Icons/WindowsCamera.png);
}

.ss2Icon22 {
    background-image: url(../img/Icons/GetHelp.png);
}

.ss2Icon23 {
    background-image: url(../img/Icons/MicrosoftTips.png);
}

.ss2Icon24 {
    background-image: url(../img/Icons/MicrosoftSolitareCollection.png);
}

.ss2Icon25 {
    background-image: url(../img/Icons/MicrosoftMessaging.png);
}

.ss2Icon26 {
    background-image: url(../img/Icons/OneDrive.png);
}

.ss2Icon27 {
    background-image: url(../img/Icons/MicrosoftPeople.png);
}

.ss2Icon28 {
    background-image: url(../img/Icons/MicrosoftWhiteboard.png);
}

.ss2Icon29 {
    background-image: url(../img/Icons/GrooveMusic.png);
}

.ss2Icon30 {
    background-image: url(../img/Icons/Paint3D.png);
}

.ss2Icon31 {
    background-image: url(../img/Icons/Office.png);
}

.ss2Icon32 {
    background-image: url(../img/Icons/SnipAndSketch.png);
}

.ss2Icon33 {
    background-image: url(../img/Icons/VideoEditor.png);
}

.ss2Icon34 {
    background-image: url(../img/Icons/Skype.png);
}

.ss2Icon35 {
    background-image: url(../img/Icons/WindowsNotepad.png);
}

.ss2Icon36 {
    background-image: url(../img/Icons/FeedbackHub.png);
}

.ss2Icon37 {
    background-image: url(../img/Icons/WindowsSecurity.png);
}

.ss2Icon38 {
    background-image: url(../img/Icons/WindowsTerminal.png);
}

.ss2Icon39 {
    background-image: url(../img/Icons/YourPhone.png);
}

.smbSep {
    height: 1px;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, .2);
}

.iHide{
    width: 120px;
}

@media screen and (max-width: 600px) {
    .startMenu {
        height: calc(100% - 0px);
        bottom: unset;
    }
    .smbSect1,
    .ss2Icon {
        width: 20%;
    }
    .ss2Icon:hover {
        background-color: transparent;
    }
}
